<div class="alignment-drift-tracker">
    <div class="alignment-drift-tracker-header">
        <div><strong>Dominant Trait:</strong>
            <input type="text" class="alignment-drift-tracker-dominant-trait-input" value="{{dominantTrait}}" />
        </div>
        <div><strong>Drift Points:</strong> {{drift.max}} / 13</div>
    </div>
    {{#each labels}}
    <div class="alignment-drift-tracker-drift-track alignment-drift-tracker-track-{{@index}}">
        <div class="alignment-drift-tracker-heading">
            <h2>{{this.name}}</h2>
        </div>
        <div class="alignment-drift-tracker-drift-track-content">
            <div class="alignment-drift-tracker-drift-track-controls">
                <div class="alignment-drift-tracker-roll-fate-container">
                    <button class="alignment-drift-tracker-roll-fate" data-track="{{@index}}" title="Roll 3df">
                        <i class="fas fa-dice-d20"></i>
                    </button>
                </div>
                <span class="alignment-drift-tracker-separator"></span>
                <i class="fas fa-plus alignment-drift-tracker-counter" data-track="{{@index}}"></i>
                <span class="alignment-drift-tracker-points">{{this.drift}}</span>
                <i class="fas fa-minus alignment-drift-tracker-counter" data-track="{{@index}}"></i>
            </div>
            <div class="alignment-drift-tracker-drift-dots">
                {{#each (range 0 13) as |i|}}
                <span class="alignment-drift-tracker-drift-dot" data-index="{{i}}" data-track="{{@../index}}">
                    {{#if (lt i ../this.drift)}}
                    <i class="fas fa-circle alignment-drift-tracker-filled"></i>
                    {{else}}
                    <i class="far fa-circle alignment-drift-tracker-empty"></i>
                    {{/if}}
                </span>
                {{/each}}
            </div>

        </div>

    </div>
    {{/each}}
</div>